@import '../../../App.scss';



.zone {
    .navigation {
        margin-top: 1em;
        background:white;
        width: 100%;
        ul.nav {
            padding:0;
            margin:0;
            list-style-type: none;
            li.tab {
                padding:0;
                margin:0;
                margin-right:2em;
                z-index: 1;
                a.dropdown {
                    font-family: $font-roboto;
                    font-weight: bolder;
                    // text-shadow: 0.1em 0.1em $pink;
                    color:$pink;
                    font-size:1.25em;
                    text-decoration: none;
                }

                &:hover {
                    a.dropdown {
                        text-shadow: 0.1em 0.1em $pink;
                        color:white;
                    }
                }

                ul.list {
                    padding:0.5em;
                    margin:0;
                    list-style-type: none;
                    visibility: hidden;
                    position: absolute;
                    background:$pink;
                    border-radius: 0.25em;
                    opacity: 0;
                    transition: 0.25s;

                    li.item {
                        padding:0 0.5em 0 0.5em;
                        a {
                            color:white;
                            font-family: $font-varta;
                            text-decoration: none;
                        }
                    }
                    
                    li.item:hover:not(:first-child) {
                        background:white;
                        border-radius: 0.25em;

                        a {
                            color:$pink;
                        }
                    }

                    li.item:first-child {
                        margin-bottom: 0.5em;
                        a {
                            color:white;
                            font-family: $font-roboto;
                            font-style: italic;
                            font-size: 0.85em;
                        }
                    }
                }
                
                &:hover ul.list {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}