@import '../../../App.scss';

.zone {
    div.music-video {
        background:$pink;
        padding:2em 0 2em 0;
        h2 {
            color:white;
            font-weight: normal;
        }

        div.video {
            margin-bottom: 0.5em;
            box-shadow: 3px 3px 1px rgb(43, 43, 43);
            border-radius: 0.25em;
            img.thumbnail {
                border-radius: 0.25em;
            }
            div.overlay {
                position: absolute;
                top: 0%;
                left: 50%;
                transform: translate(-50%, -70%);
                opacity: 0;
                transition: 0.25s;
                cursor: pointer;
                z-index: 1;
            }

            div.background-overlay {
                position: absolute;
                top:0;
                background:rgba(233, 30, 99, 0.25);
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: 0.25s;
            }
            
            &:hover div.overlay {
                opacity: 1;
                top:50%;
            }

            &:hover div.background-overlay {
                opacity: 1;
            }
        }
    }
}

