@import '../../../App.scss';



.intro {
    &__stats {
        &__box {
            height: 150px;
            width: 150px;
            border-radius: 150px;
            background:white;
            color:#dd5e89;
            // box-shadow: 0px 0px 5px 2px $pink;
            margin-bottom: 2em;
            margin-top: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            transition: 0.5s;
            border:2.5px solid $pink;

            &:hover {
                box-shadow: none;
                cursor: pointer;
                transform: scale(1.25);
            }

            &__figure {
                font-family: $font-roboto;
                color:$pink;
                font-weight: bold;
                font-size:2em;
            }
        }

        &__chart {
            margin-top: 3em;
        }

        &__box-description {
            font-family: $font-varta;
        }
    }
}