@import '../../../App.scss';



.zone {
    &__genres {
        padding:1em 0 1em 0;

        div.hot-tags {
            margin-top:0.75em;
            overflow-wrap: break-word;
            a.tag {
                color:$pink;
                padding:0.20em 0.5em 0.25em 0.5em;
                font-weight: bold;
                white-space: nowrap;
                &:hover {
                    background:$pink;
                    color:white;
                    text-decoration: none;
                    border-radius: 0.5em;
                }
            }
        }

        .genre-item {
            height: 75px;
            margin-bottom: 0.0em;
        }

        &__genre {
            cursor: pointer;
            width: 100%;
            height: 100%;
            box-shadow: 3px 3px 1px $pink;
            overflow: hidden; 
            border-radius: 0.25em;
            &__picture {
                object-fit: cover;
                transition: 0.5s;
            }

            &__overlay {
                width: 100%;
                color: white;
                text-shadow: 0.05em 0.05em $pink;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -30%);
                text-align: center;
                opacity: 1;
                transition: 0.5s;
                font-family: $font-pacifico;
                font-size: 1em;
            }
        }

        &__genre:hover &__genre__overlay {
            opacity: 1;
            p {
                transition: 0.5s;
                font-size: 1.25em;
                transform:rotate(-10deg);
                text-decoration:underline;
            }
        }

        &__genre:hover &__genre__picture {
            filter:saturate(0);
            transform: scale(1.3);   
        }
    }
}