@import '../../../../App.scss';


.zone {
    &__title {
        font-family: $font-roboto;
        color:$pink;
        font-size: 18pt;
        font-weight: bold;
        // text-shadow: 0.1em 0.1em $pink;
        color:$pink;
    }
}