@import '../../../App.scss';


.intro {
    &__content-title {
        margin-top: 5em;
        text-align: center;
        padding:1em 0em 1em 0em;
        h1 {
            font-family: $font-roboto;
            font-weight: bold;
            color: $pink;
        }

        p {
            font-family: $font-varta;
        }
    }
}

@media screen and (max-width: 768px) {
    .intro {
        &__content-title {
            h1,legend {
                text-align: center !important;
            }
        }
    }
}