@import '../../../App.scss';

.zone {
    &__list-album {
        // background: $pink; 
        padding:1em 0 0.25em 0;

        .wrapper {
            display: grid;
            grid-template-columns: repeat(5,1fr);
            column-gap: 10px;
            row-gap: 10px;
        }

        .wrapper_latestAlbum {
            grid-template-columns: repeat(8,1fr);
            @include mobile {
                grid-template-columns: repeat(4,1fr);
            }
        }

        &__album {
            position: relative;
            cursor: pointer;
            box-shadow: 3px 3px 1px $pink;
            overflow: hidden; 
            border-radius: 0.25em;
            &__picture {
                transition: 0.5s;
            }
    
            &__overlay {
                color: white;
                text-shadow: 0.05em 0.05em $pink;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                opacity: 0;
                transition: 0.5s;
                font-family: $font-pacifico;
                font-size: 1.5em;
                p {
                    margin:0 !important;
                }
                @include mobile {
                    font-size: 0.75em;
                }
            }

            .latest_albums {
                // font-size: 1em !important;
                transform: translate(-50%, -50%);
            }
        }

        &__album:hover &__album__overlay {
            opacity: 1;
        }

        &__album:hover &__album__picture {
            filter:saturate(0);
            transform: scale(1.3);
        }
    }
}