@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varta:wght@600&display=swap');

$font-roboto : 'Roboto Condensed', sans-serif;
$font-openSans : 'Open Sans', sans-serif;
$font-varta : 'Varta', sans-serif;
$font-pacifico: 'Pacifico',cursive;
$pink : #E91E63;

.header {
    margin-top: 1em;

    &__logo {
        &__title {
            font-family: $font-pacifico;
            color:$pink;
        }
    }

    &__search-bar {
        &__input {
            border:0;
            width: 100%;
            box-shadow: 0px 0px 0px 2px $pink !important;
            text-indent: 0.5em;
            border-radius: 0.25em;
            height: 2em;
            &:focus {
                outline: 2px dashed $pink;
                outline-offset: 2px;
                box-shadow: none !important;
                color:$pink;
            }
            &::placeholder {
                color:$pink;
            }
        }

        .results {
            position: absolute;
            background:$pink;
            color:white;
            border-radius: 0.25em;
            width: 100%;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .result {
                padding:5px 10px 5px 10px;
                border-bottom: 1px solid #ff679a59;
                display:flex;
                flex-direction: row;
                .thumbnail {

                }

                .info {
                    padding-left: 5px;
                    p {
                        margin:0;
                        padding:0;
                        text-align: left !important;
                    }

                    p.title {
                        font-family: $font-roboto;
                    }

                    p.artist {
                        font-family: $font-varta;
                        font-style: italic;
                    }
                }

                &:hover {
                    background:#ff9ebe59;

                    p.title {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    &__body-navigation {
        &__button {
            font-family: $font-roboto;
            font-weight: bold !important;
            margin-left: 5px;
            &:focus {
                box-shadow: 0px 1.5px 0px 0px $pink !important;
            }
        }
    }
}