@import '../App.scss';


.quote {
    text-align:center;
    font-family: $font-roboto;
    margin-top:5em;
}

.footer {
    margin-top:10em;
    background:url('./footer-background.svg') no-repeat;
    background-size:cover;
    padding:2em 0 2em 0;
    background-position-y:1em;

    &__column {

        h2,h5 {
            font-family: $font-roboto;
            color:black !important;
        }

        p,a {
            font-size: 0.75em;
            color:black !important;
        }

        p {
            color:white;
            font-style: italic;
        }

        h2 {
            color:white;
        }

        h5 {
            color:white;
        }

        a {
            display: block;
            color:white;
            font-family: $font-varta;

            &:hover {
                text-decoration-line: none;
                color:black;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .quote {
        font-size: 2em;
    }
}